body{
    /**backgrowund-image: url('https://developer.mozilla.org/en-US/docs/Web/CSS/Scaling_of_SVG_backgrounds/no-dimensions-or-ratio-contain.png');**/
    background-repeat: repeat;
    background-size: cover;
}
table, th, td {
    border: 1px solid black;
    width: 50%;
    margin-top: -12%;
    margin-left:auto ;
    padding-top: auto;
    border-collapse: collapse;
    background-color: #eeeaea;   /**#b2aeb6**/
  }
h1{
  text-align: center;
}
  th, td {
    padding: 15px;
  } 

  .foreground {
    margin: 55px 50px;
    padding: 50px;
    background-position: 10 20;
        background-color: #fcfcfc;
        background-image: url('https://cdn2.vectorstock.com/i/1000x1000/36/61/doctor-logo-icon-design-vector-15613661.jpg');
        background-repeat: no-repeat;
        background-size: cover;
  } 


#uid{
  line-height: 20px;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.prescription{
  float: right;
  display: flex;
}

.input{
  display: block;
  align-items: left;


 /**  bordeer: 2px solid rgb(8, 8, 8);  
  backgroeund-color: rgb(184, 184, 184);**/
}




#search{
  background-color: #112353;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
  overflow: auto;
}

#search:hover{
  background-color: rgb(91, 94, 89);
}

#clear{
  background-color: #112353;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  overflow: auto;
}

#clear:hover{
  background-color: rgb(91, 94, 89);
}
#uniqid{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

#clear{
  background-color: #112353;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  overflow: auto;
}

#ok{
  background-color: #112353;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
  overflow: auto;
}

#ok:hover{
  background-color: rgb(91, 94, 89);
}




input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
